<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RefUnite </title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/family.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <!-- Include your custom css file here if you're making one -->
  </head>

  <body id="body" ng-controller="familyController" class="mb-2 bg-secondary">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand center" href="/">RefUnite</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" href="/profile">My Profile</a>
          <a class="nav-item nav-link active" href="/family">Family & Friends</a>
          <a class="nav-item nav-link" ng-controller="logoutController" ng-click="logoutDestroySession()">Logout</a>
        </div>
      </div>
    </nav>

    <!-- Sample Content. You can either use this or make your own -->

    <!-- User Content -->
    <div class="container user-container">
      <div class="jumbotron">
        
      <h5><strong>Add a family or friend that you are looking for</strong></h5>
      <br>

    <div class="form-group">
     <input type="text" class="input name form-control" placeholder="Name" ng-model="name" /><br>
     <input type="text" class="input relation form-control" placeholder="Relation to you" ng-model="relation" />
     <br>
     <div class="form-inputs">
      <div class="form-group">
        <label> Gender:
          <select multiple class="form-control" name="gender" ng-model="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Non-binary">Non-binary</option>
            <option value="Other">Other</option>
          </select>
        </label>
      </div>
        
        <div class="form-group">
        <label> Age: 
          <select multiple class="form-control" name="age" ng-model="age">
            <option value="Under18">Under 18</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="35-44">35-44</option>
            <option value="45-54">45-54</option>
            <option value="55-64">55-64</option>
            <option value="65-74">65-74</option>
            <option value="65+">65+</option>
            <option value="Unknown">Unknown</option>
          </select>
        </label>
      </div>

        <div class="form-group">
        <label> Region of Origin: 
          <select multiple class="form-control" name="region" ng-model="region">
            <option value="Africa">Africa</option>
            <option value="Asia">Asia</option>
            <option value="Caribbean">Caribbean</option>
            <option value="CentralAmerica">Central America</option>
            <option value="Europe">Europe</option>
            <option value="MiddleEast">Middle East</option>
            <option value="NorthAmerica">North America</option>
            <option value="Oceania">Oceania</option>
            <option value="SouthAmerica">South America</option>
            <option value="Unknown">Unknown</option>
          </select>
        </label>
      </div>
      </div>
      </div>
      <br>

      <button class="p-3 mb-2 bg-primary text-white" type="button" name="addFamFriend" ng-click="addFamFriend()" id="addFamFriend"
      onclick="showFileUpload()" >Add</button>

      <br><br><br>


        <div id="demo"></div>

          <!-- <input id="famFriendId" type="text" class="input famFriendId" ng-model="famFriendId" name="famFriendId"/>
          <input id="imageIds" type="text" class="input imageIds" ng-model="imageIds" name="imageIds"/> -->
        <input style="visibility: hidden;" type="text" ng-model="famfriendid" id="famFriendId"/>
        <input style="visibility: hidden;" type="text" ng-model="imageids" id="imageIds"/>
        <br>
        <button style="visibility: hidden;" class="p-3 mb-2 bg-primary text-white" type="button" name="addImageToFamFriend" ng-click="addImageToFamFriend()" id="addImageToFamFriend">Upload</button>
        <!-- <div id="uploadBtn"></div> -->
        
      </div>
    </div>

    <div id="addedFamFriendId" style="visibility: hidden;" >{{ addedFamFriendId }}</div>




    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.250.1.min.js"></script>
    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>/*
        We want to preview images, so we need to register the Image Preview plugin
        */
        FilePond.registerPlugin(
          
          // encodes the file as base64 data
          FilePondPluginFileEncode,
          
          // validates the size of the file
          FilePondPluginFileValidateSize,
          
          // corrects mobile image orientation
          FilePondPluginImageExifOrientation,
          
          // previews dropped images
          FilePondPluginImagePreview
        );
        
        var showFileUpload = function() {
            document.getElementById('demo').innerHTML = '<h5><strong>Please upload 4 images of the person</strong></h5><input type="file" class="filepond" name="filepond" multiple data-max-file-size="3MB" data-max-files="4"/>'
            //Select the file input and use create() to turn it into a pond
            FilePond.create(
              document.querySelector('.filepond')
            );

            document.getElementById("addImageToFamFriend").setAttribute("style", "");

            
        }

        // set up s3 connection
        var s3 = new AWS.S3({
          accessKeyId: "AKIAIBIOLFSQYUBEA7XQ",
          secretAccessKey: "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",
          region: 'us-east-1'
        });

    </script>

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.250.1.min.js"></script>

    <script>


    // set up s3 connection
    var s3 = new AWS.S3({
        accessKeyId: "AKIAIBIOLFSQYUBEA7XQ",
      secretAccessKey: "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",
      region: 'us-east-1'
    });

    var uploaded_pics = [];

    // set custom FilePond file processing method
    FilePond.setOptions({
        server: {
            process: function(fieldName, file, metadata, load, error, progress, abort) {
                console.log("hi we are in s3 upload"); 
                s3.upload({
                    Bucket: 'refunite-famfriend-images',
                    Key: Date.now() + '_' + file.name,
                    Body: file,
                    ContentType: file.type,
                    ACL: 'public-read'
                }, function(err, data) {
                    if (err) {
                        error('Something went wrong');
                        console.log(err); 
                        return;
                    }
                    //console.log("after the callback"); 
                    //addImageToFamFriend(); 
                    // pass file unique id back to filepond
                    load(data.Key);
                    console.log("added image " + data.Key);
                    uploaded_pics.push(data.Key);
                    console.log(uploaded_pics)
                    var famFriendId = document.getElementById("addedFamFriendId").innerHTML;
                    console.log(document.getElementById("addedFamFriendId").innerHTML);

                    var ids = angular.element(document.getElementById('body')).scope().imageIds;

                    angular.element(document.getElementById('body')).scope().famFriendId = famFriendId;
                    angular.element(document.getElementById('body')).scope().imageIds = ids + "," + data.Key;

                });
            }
        }
    });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>