<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">

  <head>
    <title>RefUnite</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/createaccount.css" rel="stylesheet">
  </head>

  <body>
    <div class="heading">RefUnite</div>

    <!--  -->
    <div class="container login-container" ng-controller="createAccountController">
      <input type="text" class="input username" placeholder="email@email" ng-model="emailaddr" />
      <input type="text" class="input username" placeholder="Username" ng-model="username" />
      <input type="password" class="input password" placeholder="Password" ng-model="password" />
      <button type="button" class="login-button" name="Login" ng-click="nextToPersonalDetails()">Next</button>
      <button type="button" class="login-button" name="Login" ng-click="backToLogin()">Sign in instead</button>
    </div>

    <!-- Photo upload div -->
    <div class="container login-container" ng-controller="createAccountPhotoUploadController">
      <div>
        <input type="file" name="user-photo" file-model="myFile"/>
        <button ng-click="uploadFile()">upload me</button>
      </div>


      <label> <input type="checkbox"  onchange="document.getElementById('finish').disabled = !this.checked;"/> I agree to the terms and conditions. </label>
      <button type="button" disabled class="login-button" name="Next" ng-click="finish()" id="finish">Finish</button>
      <button type="button" class="login-button" name="Back" ng-click="backToProfileDetails()">Back</button>
    </div>

    <!-- Profile details div -->
    <div class="container login-container" ng-controller="createAccountProfileDetailsController">
      <div>
        <label>Gender:
          <select name="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Other">Other</option>
          </select>
        </label>
        </br>
        <label> Age: 
          <select name="age">
            <option value="Under18">Under 18</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="35-44">35-44</option>
            <option value="45-54">45-54</option>
            <option value="55-64">55-64</option>
            <option value="65-74">65-74</option>
            <option value="65+">65+</option>
            <option value="Unknown">Unknown</option>
          </select>
        </label>
        </br>
        <label> Region of Origin: 
          <select name="region">
            <option value="Africa">Africa</option>
            <option value="Asia">Asia</option>
            <option value="Caribbean">Caribbean</option>
            <option value="CentralAmerica">Central America</option>
            <option value="Europe">Europe</option>
            <option value="MiddleEast">Middle East</option>
            <option value="NorthAmerica">North America</option>
            <option value="Oceania">Oceania</option>
            <option value="SouthAmerica">South America</option>
            <option value="Unknown">Unknown</option>
          </select>
        </label>
      </div>

      <button type="button" class="login-button" name="Next" ng-click="nextToPhotoUpload()">Next</button>
      <button type="button" class="login-button" name="Back" ng-click="backToCreateAccount()">Back</button>

    </div>


    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>