/**
 * FilePond Custom Styles
 */
.user-container {
  margin-top: 2rem;
  width: fit-content;
}


 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}

.form-inputs {
	display: inline-block;
}

.form-group {
	display: inline-block;
	padding-right: 20px;
}